*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    margin-bottom: 15px;
}
ul{
    list-style: none;
    background-color: blue;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
}
li{
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.product{
    display: flex;
    flex-direction: column;
    width: 15rem;
    display: flex;
}
.img-container{
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}
.product div{
    display: flex;
    justify-content: space-between;
}
img{
    width: 100%;
    object-fit: cover;
}
li:hover{
    background-color: aqua;
    color: rgb(0, 0, 0);
}
.sugest{
    width: fit-content;
}
.items-search{
    border-right: 1px rgb(0, 0, 0, 50%) solid;
    min-height: calc(100vh - 70px);
}

aside[class^='items']{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100%;
}
main{
    display: flex;
}
.items-view{
    display: flex;
    gap: 20px;
    align-items: center;
}
.items-view > *{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-height: 80px;
    background-color: blue;
}
.dragover{
    opacity: 0.5;
}
.dragging{
    opacity: .8;
}