ul{
    list-style: none;
    background-color: blue;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
}
li{
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
li:hover{
    background-color: aqua;
    color: rgb(0, 0, 0);
}