*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
ul{
    background-color: blue;
    max-width: fit-content;
    border-radius: 20px;
}
li{
    border-radius: 20px;
    padding: 5px 20px;
}
li:hover{
    background-color: aqua;
    cursor: pointer;
}
#main{
    display: flex;
    gap: 10px;
}